In [2]:
import pandas as pd
import json

In [3]:
df = pd.read_csv('five_countries.csv')
df.head()

  country  iso  year  total  coal  oil  gas  cement  flaring  other
0  Brazil  BRA  1945    0.0   0.0  0.0  0.0     0.0      0.0    0.0
1  Brazil  BRA  1946    0.0   0.0  0.0  0.0     0.0      0.0    0.0
2  Brazil  BRA  1947    0.0   0.0  0.0  0.0     0.0      0.0    0.0
3  Brazil  BRA  1948    0.0   0.0  0.0  0.0     0.0      0.0    0.0
4  Brazil  BRA  1949    0.0   0.0  0.0  0.0     0.0      0.0    0.0

In [6]:
# # just check the data in 2021
df2021 = df.loc[df['year']==2021].reset_index(drop=True)
df2021

,country,iso,year,total,coal,oil,gas,cement,flaring,other
0,Brazil,BRA,2021,2.281014,0.318346,1.385677,0.354480,0.111013,0.081675,0.029824
1,Canada,CAN,2021,14.300468,1.149576,6.333628,6.169093,0.173626,0.420835,0.053709
2,Cuba,CUB,2021,1.959542,0.000451,1.700125,0.196253,0.056261,0.006452,0.000000
3,Global,WLD,2021,4.693699,1.893923,1.496614,1.001585,0.211472,0.052663,0.037443
4,USA,USA,2021,14.858668,2.974205,6.628469,4.857715,0.122265,0.200845,0.075169

In [9]:
dict = {}

# convet the following columns to dictonary
stat = ['coal', 'oil', 'gas', 'cement', 'flaring', 'other']
stat_dict = df2021[stat].to_dict('records')

for i in range(len(df2021.country)):
    dict[df2021.country[i]] = stat_dict[i]
dict

{'Brazil': {'coal': 0.318346,
  'oil': 1.385677,
  'gas': 0.35448,
  'cement': 0.111013,
  'flaring': 0.081675,
  'other': 0.029824},
 'Canada': {'coal': 1.149576,
  'oil': 6.333628,
  'gas': 6.169093,
  'cement': 0.173626,
  'flaring': 0.420835,
  'other': 0.053709},
 'Cuba': {'coal': 0.000451,
  'oil': 1.700125,
  'gas': 0.196253,
  'cement': 0.056261,
  'flaring': 0.006452,
  'other': 0.0},
 'Global': {'coal': 1.893923,
  'oil': 1.496614,
  'gas': 1.001585,
  'cement': 0.211472,
  'flaring': 0.052663,
  'other': 0.037443},
 'USA': {'coal': 2.974205,
  'oil': 6.628469,
  'gas': 4.857715,
  'cement': 0.122265,
  'flaring': 0.200845,
  'other': 0.075169}}

In [11]:
# Serializing json  
json_object = json.dumps(dict, indent = 4) 

# Save to json file
with open("five_countries2021.json", "w") as test_file:
    test_file.write(json_object)